# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
outventure-frontend/node_modules

# testing
outventure-frontend/coverage

# production
outventure-frontend/build

/venv